*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}


.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateX(100%);
    height: 500px;
}

.one{
    background: url(../images/1.jpg) no-repeat center;
    background-size: cover;
}
.two{
    background: url(../images/2.jpg) no-repeat center;
    background-size: cover;
}
.three{
    background: url(../images/3.jpg) no-repeat center;
    background-size: cover;
}
.four{
    background: url(../images/4.jpg) no-repeat center;
    background-size: cover;
}

.active{
    transform: translateX(0%);
}

.arrows .prev{
    width: 30px;
    height: 30px;
    background: #fff;
    color: #000;
    position: absolute;
    top: 250px;
    left: 50px;
    transform: translatey(-50%);
    text-align: center;
    line-height: 30px;
}
.arrows .next{
    width: 30px;
    height: 30px;
    background: #fff;
    color: #000;
    position: absolute;
    top: 250px;
    right: 50px;
    transform: translatey(-50%);
    text-align: center;
    line-height: 30px;
}



.smooth{
    transition: 1s ease;
}
